/* 1.2 */
<!DOCTYPE html>
<html>

<head>
  <title>Vacation World</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>
  <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/explorer.jpeg" />
  <h1 class="cursive capitalize">Top Vacation Spots</h1>
  <h5>By: Stacy Gray</h5>
  <h6 class="publish-time">Published: 2 Days Ago</h6>

  <p style="font-family: arial;">The world is full of fascinating places. Planning the perfect vacation involves packing up, leaving home, and experiencing something new.</p>

/* 1.3 */
<head>
  <title>Vacation World</title>
  <link href="style.css" type="text/css" rel="stylesheet">
  <style>
    p {
      font-family: arial;
    }
  </style>
</head>

<body>
  <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/explorer.jpeg" />
  <h1 class="cursive capitalize">Top Vacation Spots</h1>
  <h5>By: Stacy Gray</h5>
  <h6 class="publish-time">Published: 2 Days Ago</h6>

  <p>The world is full of fascinating places. Planning the perfect vacation involves packing up, leaving home, and experiencing something new.</p>

/* 1.4 */
p {
  font-family: Arial;
}

/* 1.5 */
<head>
  <title>Vacation World</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>

/* 1.6 */

h1 {
  color: maroon;
}

/* 1.7 */
.title {
  color: teal;
}

/* 1.8 */
.uppercase {
  text-transform: uppercase;
}
 <h1 class="title uppercase">Top Vacation Spots</h1>

 /* 1.9 */
 #article-title {
  font-family: cursive;
  text-transform: capitalize;
}
<h1 class="title uppercase" id="article-title">Top Vacation Spots</h1>

/* 1.10 */
<h6 class="publish-time">Published: 2 Days Ago</h6>
.publish-time {
 color: gray;
}

/*1.11 */
 <h1 class="title cursive capitalize">Top Vacation Spots</h1>
 .cursive {
  font-family: cursive;
}

.capitalize {
text-transform: capitalize;
}

/* 1.12 */
h2.destination {
 font-family: cursive;
}

/* 1.13 */
.description h5 {
  color: teal;
}

/*1.14 */
h5 {
 color: rebeccapurple;
}

/*1.15 */
h5 {
 color: rebeccapurple !important;
}

/* 1.16 */
h5,
p {
  font-family: Georgia;
}

/*2.3 */
h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
  width: 70%;
  font-family: Georgia;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

/* 2.4 */
p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

/* 2.5 */
p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

/*2.6*/

h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

/*2.7 */
.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
}

/* 2.8 */
.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

/*2.9 */
.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

/* 3.3 */
#banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  height: 700px;
}

.pull-quote {
  width: 350px;
}

#banner .content h1 {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 400px;
}

/* 3.4 */
h2 {
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  border: 1px dotted red;
}

#banner .content h1 {
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  border: 3px solid white;
}

/* 3.5 */
#banner .content h1 {
  border: solid 3px white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
}

/* 3.6 */
.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 14px;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

/* 3.7 */
h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  padding: 20px 30px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  padding: 10px 20px;
}

/* 3. 8 */
p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  padding: 10px 20px;
  margin-top: 60px;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  margin: 10px;
}

/* 3.9 */
h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  text-align: center;
  margin: 30px 20px;
}

/* 3.10 */
.pull-quote {
  width: 350px;
  margin: 0 auto;
}

#main {
  padding: 40px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

/* 3.12 */
p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
	min-width: 200px;
  max-width: 800px;
   min-height: 200px;
  max-height: 300px;
}

/* 3. 13 */
#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll;
}

/* 3.14 */
* {
   margin: 0;
  padding: 0;
}

/* 3.15 */
.donate {
  visibility: hidden;
}

/* 4.4 */
* {
  box-sizing: border-box;
}

/* 5.2 */
.question {
  text-align: center;
  position: static;
  top: 40px;
}

/* 5. 3 */
.question {
  text-align: center;
  position: relative;
  top: 40px;
}
/* 5. 4 */
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: absolute;
  width: 100%;
}

/* 5. 5 */
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}

/* 5. 6 */
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* 5.7 */
  <h1><strong>Welcome</strong> to our survey!</h1>

  /* 5.8 */
  <footer>
   <h3>Thanks for taking our survey!</h3>
 </footer>

 footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 100px;
}

/* 5.9 */
li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}

.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
}
.answer {
  border: 1px solid #466995;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 200px;
}

/* 5.10 */
.answer {
  border: 1px solid #466995;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 200px;
  float: left;
}

/* 5.11 */
.question {
  text-align: center;
  position: relative;
  top: 40px;
}

.answer {
  border: 1px solid #466995;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 200px;
}

/* 6.2 */
h1 {
  color: midnightblue;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
  background-color: Aqua;
}

/* 6.3 */
.green {
  background-color: #8FBC8F;
}

.light {
  background-color: #A0522D;
}

.city {
  background-color:#8B4513;
}

.vienna {
  background-color:  #A52A2A;
}

.italian {
  background-color:  #000000;
}

/* 6.4 */
.green {
  background-color: rgb(143, 188, 143);
}

.light {
  background-color: rgb(160, 82, 45);
}

.city {
  background-color:rgb(139, 69, 19);
}

/*6.5*/
.green {
  background-color: #9EB599;
}

.light {
  background-color: #683C2C;
}

.city {
  background-color:#4C352D;
}

.vienna {
  background-color: #352926;
}

.italian {
  background-color: #141212;
}

/*6.6*/
body {
  background-color: hsl(240, 255, 0);
}

.midground {
  background-color: hsl(225, 100%, 25%);
}

.foreground {
  background-color: hsl(325, 50%, 50%);
}

/*6.7*/
body {
  background-color: rgba(0, 255, 0, 0.1);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

/*7.2*/
h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Georgia;
  word-spacing: 0.05em;
  letter-spacing: 0.02em;
}

p {
  margin: 16px 0;
  font-family: Helvetica;
}

/*7.3*/
.banner p {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
  font-family: "Glegoo";
  font-size: 20px;
}
/* 7.4 */
.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
}

/* 7.5 */
.font-card .creator {
  font-size: 20px;
  line-height: 1.25;
  font-style: italic;
}

/* 7. 6 & 7.7  */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5;
  font-family: Georgia;
  word-spacing: 0.05em;
  letter-spacing: 0.02em;
}

/* 7.8 */
h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
  text-transform: uppercase;
}

/* 7.9 */
h1 {
  color: white;
  font-size: 28px;
  font-family: Georgia;
  text-transform: uppercase;
  text-align: left;
}
